# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true" width = 700>

In [9]:
# kernels

In [10]:
# hotkey

In [13]:
# comment

In [4]:
#markdown

## This is python course.

**This is python course.**

$$ y = \beta = \alpha = \frac{\alpha^2}{\sqrt{\beta}}$$

# <center> Basic

In [18]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [19]:
2 + 4

6

In [20]:
6 - 4

2

In [21]:
5 * 3

15

In [22]:
5 / 3

1.6666666666666667

In [23]:
5 % 3

2

In [24]:
5 // 3

1

In [25]:
5 ** 3

125

In [26]:
5 + (4 - 3 * 2)**3 + 1

-2

In [27]:
a = 5 + (4 - 3 * 2)**3 + 1

In [28]:
a

-2

In [29]:
a + 5

3

In [35]:
a = 100
a = 20
a = a * 2
a = a - 15
# a = 10

print(a)

25

In [36]:
x = 13
y = 4

In [38]:
print(x+y)
print(x-y)

17
9

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [39]:
x = 13
y = 4

In [44]:
print(x==y)
print(x==13)
print(x!=y)

False
True
True

In [49]:
print(x > y)
print(y < 4)
print(y<=4)
print(x > 3 * y)

True
False
True
True

In [52]:
x > 10 and y < 5

True

In [53]:
x > 10 and y > 5

False

In [54]:
x > 10 or y > 5

True

In [55]:
10 < x < 14

True

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [56]:
type

type

In [63]:
print(type("Economics"))
print(type(2))
print(type(1.5))
print(type(2.0))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>

In [64]:
x = 2.7
type(x)

float

In [66]:
int(2.7) * 2

4

In [69]:
a = 1
a

1

In [71]:
str(a) * 2

'11'

In [72]:
a = 'python course'
print(a)

python course

In [73]:
a.capitalize()

'Python course'

In [76]:
s1 = 'Hi, this is python course.'
print(s1)

Hi, this is python course.

In [78]:
s1.count("i")

3

In [81]:
s1.find('p')

12

In [82]:
s1 = 'abc'
s2 = 'zxs'

In [83]:
s1 * 2

'abcabc'

In [85]:
s1 + s2

'abczxs'

In [87]:
s1 + str(2)

'abc2'

## List

In [90]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [ ]:
# [ ,  ,  ,  ,  ,  ]

In [91]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
type(x)

list

In [95]:
x[4]

5

In [97]:
x[-3]

8

In [98]:
x[2:7]

[3, 4, 5, 6, 7]

In [100]:
x[2:-3]

[3, 4, 5, 6, 7]

In [101]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
# [<begin>:<end>:<step>]
x[2:7:2]

[3, 5, 7]

In [107]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [127]:
x = [1,2,3,4,5,6,'python', ['a', 'b', 'c']]
print(x)

[1, 2, 3, 4, 5, 6, 'python', ['a', 'b', 'c']]

In [119]:
x[-1]

['a', 'b', 'c']

In [121]:
x[-1][0]

'a'

In [116]:
x * 2

[1, 2, 3, 4, 5, 6, 'python', 1, 2, 3, 4, 5, 6, 'python']

In [130]:
x = x + [4]

In [132]:
x.append(5)

In [134]:
x.append('Economics')

In [135]:
x

[1, 2, 3, 4, 5, 6, 'python', ['a', 'b', 'c'], 4, 5, 'Economics']

In [ ]:
# remove
# pop

In [136]:
x.remove('python')   # number , name

In [137]:
x

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 4, 5, 'Economics']

In [138]:
x.pop(-1)   # index

'Economics'

In [139]:
x

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 4, 5]

In [140]:
x[::-1]

[5, 4, ['a', 'b', 'c'], 6, 5, 4, 3, 2, 1]

In [141]:
x.reverse()

In [142]:
x

[5, 4, ['a', 'b', 'c'], 6, 5, 4, 3, 2, 1]

## Dictionary

In [143]:
type({})

dict

In [144]:
# { 'name': value ,  'name': value , 'name': value}
score = { 'math' : 19 , 'lit' : 20 , 'gio' : 16 }

In [145]:
score

{'math': 19, 'lit': 20, 'gio': 16}

In [146]:
type(score)

dict

In [148]:
score['math']

19

In [149]:
score['lit']

20

In [150]:
score.keys()

dict_keys(['math', 'lit', 'gio'])

In [151]:
score.values()

dict_values([19, 20, 16])

#### Other type

In [5]:
tuple
set

set

In [153]:
x = [1,2,3,4]

In [155]:
x[0] = 'Python'

In [156]:
x

['Python', 2, 3, 4]

In [157]:
v = (1,2,3,4)

In [158]:
v

(1, 2, 3, 4)

In [176]:
type(v)

tuple

In [162]:
v[0]

1

In [164]:
# v[0] = 'python'

In [1]:
a = float(input('Enter your number: '))
print(a)

Enter your number: 12
12.0

In [2]:
type(a)

float